<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.UnlockCode" title="@Strings.UnlockCodeTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0xC9A45D">@Strings.ColorGilt</listEntry>
            <listEntry value="0x2DD4BF">@Strings.ColorTeal</listEntry>
            <listEntry value="0x60A5FA">@Strings.ColorBlue</listEntry>
            <listEntry value="0xF43F5E">@Strings.ColorRuby</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>
